.pad-0{
	padding: 0px;
}
.pad-l{
	padding-left: 0px;
}
.pad-r{
	padding-right: 10px;
}
.mar-0{
	margin: 0px;
}
.mar-left{
	margin-left:20px;
}
.mar-bot{
	margin-bottom: 0px; 
}
.image-w {
	width: 20px;
    
}
.width-full{
 	width: 100%;
}
.width-half{
 	width: 50%;
}
.height-full{
	height: 100%;
}
.image-h {
    height: 20px;
}
.height-40{
	height: 40px;
}
.height-60{
	height: 60px;
}
.height-100{
	height: 100px;
}
.bg-norepeat{
	background-repeat: no-repeat;
}
.fontstyle{
	font-size: 20px;
  	font-family: inherit;
	color: #fff;
}
.input{
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 2px solid #433F59;
}

.bg-s {
	   border-style: none;

}
.bg-n {
	   background: none;
}

.border-r {
	border-radius: 0px;
}
.pos_rel{
	position:relative;
}
.bg-color{
    background-color: rgba(58, 61, 183, 0.54);
}
.bg-color0 {
    background-color: #FFF;
}

.bg-color1 {
    background-color: #CCC;
}
